<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="Facebook Login">
        <setting label="Username" type="text" id="facebook_username" />
        <setting label="Password" type="text" id="facebook_password" option="hidden" />
	</category>   
    <category label="VOX Actions">
        <setting label="Reload Cache" type="action" action="RunScript($CWD/resources/lib/reloadcache.py,full)" default="" />
        <setting label="Facebook Logout" type="action" action="RunScript($CWD/resources/lib/logout.py,full)" default="" />
    </category>        
</settings>